<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

       <link href="/static/cssadm/css.css" rel="stylesheet" type="text/css" />
    <link href="/static/cssadm/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/static/layer/layer.js" type="text/javascript"></script>
    <script src="/static/js/RidfBook.js" type="text/javascript"></script>
    <script src="/static/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/popup.js"></script>

    <script language="javascript">
           function sub(index)
           {

                a="BList?index="+index
                document.form1.action=a;
                document.form1.submit();
           }



       </script>

</head>
<body>
    <form id="form1"  method="post"   name="form1">


         <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" bordercolor="#fff"
        class="tableBorder">
        <tbody>
            <tr>
                <td colspan="6" class="td_biaoti">
                    进出口商品关别总值查询
                </td>
            </tr>
            <tr>
                <td colspan="6" align="left" class="txlrow">
                    <table style="width: 100%;" class="RidfBookFormCss">
                        <tr>
                            <th>
                                年份 ：
                            </th>
                            <td height="25" width="*" align="left">
                                 <input type="text" name="year" id="year" value="{{cons.year}}">
                            </td>
                            <th>
关别:
                            </th>
                            <td height="25" width="*" align="left">
                                <input type="text" name="guan" id="guan" value="{{cons.guan}}">
                            </td>

                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="6" align="left" class="txlrow">
                    
                        <input type="hidden" name="index" size="40"
									value="{{index}}" />
								<input type="button" value="查询" class="btn_RidfBook"
									id="btnRidfBookFind" style="width: 100px"
									onclick="sub({{index}})" />

                        

                     

                     
                </td>
            </tr>
            <tr bgcolor="#f9fdf4">
                <td colspan="6" align="center" class="txlrow">
                     <br />
                          <table class="RidfBookGrid" width="100%" style="boder:none;">
                            <tr>
                                  <th>关别</th>
                                  <th>年份</th>
                                  <th>月份</th>
                                  <th>出口总值</th>
                                  <th>进口总值</th>

  <th>进出口总值</th>


                            </tr>
                              {% if pages>0 %}
                                {% for data in data %}
                            <tr>
   <td>{{ data.关别 }}</td>   <td>{{ data.年份 }}</td>   <td>{{ data.月份 }}</td>   <td>{{ data.出口总值 }}</td>   <td>{{ data.进口总值 }}</td>

                                <td>{{ data.进出口总值 }}</td>




                            </tr>
                             {% endfor %}
                             {% else  %}
                                 <tr>
                                <td colspan="12" style="text-align: center" > 暂无数据
                                </td>

                            </tr>
                             {% endif %}
                        </table>
                </td>
            </tr>
             <tr>
                <td colspan="6" style="text-align: center; background-color: #d8dadb;  ">

                    	共
								 {{pages}}
								页， 当前第
								{{index}}
								页

                          {% if index>=1 and index!=1 %}
&nbsp; &nbsp;
                         <span  style="text-decoration:none; color:#000; cursor:pointer;font-weight:bold"   onclick="sub(1)"   style='cursor:pointer; '> 首页</span> &nbsp; &nbsp;

                          <span  style="text-decoration:none; color:#000; cursor:pointer;font-weight:bold"   onclick="sub({{index-1}})"   style='cursor:pointer; '> 上一页</span> &nbsp; &nbsp;



                          {% endif %}
                          {% if index>=1 and index!=pages %}

                          <span  style="text-decoration:none; color:#000; font-weight:bold;cursor:pointer;"   onclick="sub({{index+1}})"   style='cursor:pointer; '>  下一页</span> &nbsp; &nbsp;

                         <span  style="text-decoration:none; color:#000; font-weight:bold;cursor:pointer;"   onclick="sub({{pages}})"   style='cursor:pointer; '>  最后一页</span> &nbsp; &nbsp;



						  {% endif %}

                    
                </td>
            </tr>
        </tbody>
    </table>





    </form>
</body>
</html>