<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="/static/css/css.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/static/layer/layer.js" type="text/javascript"></script>
    <script src="/static/js/stufile.js" type="text/javascript"></script>
 <script language="javascript" type="text/javascript">

        function QstufileYanNull() {
            if ($('#file').val() == "") {
                stufileAlertMsgForNull("请选择照片");
                return false;
            }


           document.form1.submit();
        }
   </script>
</head>
<body>
 <form action="uploader" method="POST" enctype="multipart/form-data" name="form1">
        <input type="file" name="file"  id="file" />

  <input type="button" value="保存照片" class="btn_stufile"
                                id="btnYingJiFind"
                                onclick="QstufileYanNull()" />

    </form>
</body>
</html>