<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

       <link href="/static/cssadm/css.css" rel="stylesheet" type="text/css" />
    <link href="/static/cssadm/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/static/layer/layer.js" type="text/javascript"></script>
    <script src="/static/js/RidfBook.js" type="text/javascript"></script>
    <script src="/static/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/popup.js"></script>

    <script language="javascript" type="text/javascript">

        function QRidfBookYanNull() {

           if ($('#dyhon').val() == "") {
                RidfBookAlertMsgForNull("请输入回复内容");
                return false;
            }

        

                a="yanyuanUpdateAction?index={{index}}&&id={{id}}"


              document.form1.action=a;
              document.form1.submit();
        }


    </script>

</head>
<body>
    <form id="form1"  method="post"   name="form1" action="yanyuanAddAction">


         <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" bordercolor="#fff"
        class="tableBorder">
        <tbody>

            <tr>
                <td colspan="6" align="left" class="txlrow">
                    <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="RidfBookFormCss">
                        <tbody>

                               <tr>
                          <th>
                                    回复内容 ：
                                </th>
                                <td>
                                     <textarea id="dyhon" name="dyhon" cols="80" rows="11"
            ></textarea>
                                </td>

                            </tr>


                            <tr>
                                <td colspan="2" style="text-align: center">
                                      <input type="button" value="保存" class="btn_RidfBook"
									id="btnsave"
									onclick="QRidfBookYanNull()" />



                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>



    </form>
</body>
</html>