<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

       <link href="/static/cssadm/css.css" rel="stylesheet" type="text/css" />
    <link href="/static/cssadm/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/static/layer/layer.js" type="text/javascript"></script>
    <script src="/static/js/RidfBook.js" type="text/javascript"></script>
    <script src="/static/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/popup.js"></script>

    <script language="javascript" type="text/javascript">


        function back()
        {

        }
    </script>

</head>
<body>
    <form id="form1"  method="post"   name="form1" action="spggoodUpdateAction">


         <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" bordercolor="#fff"
        class="tableBorder">
        <tbody>
            <tr>
                <td colspan="6" class="td_biaoti">
                    进出口贸易额预测模型评估
                </td>
            </tr>
            <tr>
                <td colspan="6" align="left" class="txlrow">
                    <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="RidfBookFormCss" style="font-size:12px">
                        <tbody>
                              <tr>
                                <th style="width:15%">
                                    LSTM进出口贸易额预测模型RMSE值：
                                </th>
                                <td>
                                     {{score}}
                                </td>
                                <th style="width:15%">
                                    LSTM进出口贸易额预测模型MAE值 ：
                                </th>
                                <td>
                                    {{rmse}}
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>



    </form>
</body>
</html>